# Andy's Final Assignment of Segmenting and Clustering

Explore and cluster the neighborhoods in Toronto.

In [1]:

!pip install BeautifulSoup4
!pip install requests

Requirement already satisfied: BeautifulSoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from BeautifulSoup4) (2.0)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (1.25.7)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2019.9.11)

We needed install the previous libraries.

In [4]:

from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np


source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(source.text, 'lxml')


data = []
columns = []
table = soup.find(class_='wikitable')
for index, tr in enumerate(table.find_all('tr')):
    section = []
    for td in tr.find_all(['th','td']):
        section.append(td.text.rstrip())
    

    if (index == 0):
        columns = section
    else:
        data.append(section)


df = pd.DataFrame(data = data,columns = columns)
df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
8      M8A      Not assigned      Not assigned
9      M9A      Queen's Park      Not assigned

In [10]:
#Remove 'Not assigned' in column  Borough
df = df[df['Borough'] != 'Not assigned']
df.head()

                   Borough                     Neighbourhood
Postcode
M3A             North York                         Parkwoods
M4A             North York                  Victoria Village
M5A       Downtown Toronto                      Harbourfront
M6A             North York  Lawrence Heights, Lawrence Manor
M7A       Downtown Toronto                      Queen's Park

In [11]:
# postal code area:
df["Neighbourhood"] = df.groupby("Postcode")\
["Neighbourhood"].transform(lambda neigh: ', '.join(neigh))

#remove duplicates:
df =df.drop_duplicates()

#update index to be postcode if it isn't already:
if(df.index.name != 'Postcode'):
    df = df.set_index('Postcode')
    
df.head()

                   Borough                     Neighbourhood
Postcode
M3A             North York                         Parkwoods
M4A             North York                  Victoria Village
M5A       Downtown Toronto                      Harbourfront
M6A             North York  Lawrence Heights, Lawrence Manor
M7A       Downtown Toronto                      Queen's Park

In [12]:
# If a cell has a borough but a Not assigned neighborhood..:
df['Neighbourhood'].replace("Not assigned", df["Borough"],inplace=True)
df.head()

                   Borough                     Neighbourhood
Postcode
M3A             North York                         Parkwoods
M4A             North York                  Victoria Village
M5A       Downtown Toronto                      Harbourfront
M6A             North York  Lawrence Heights, Lawrence Manor
M7A       Downtown Toronto                      Queen's Park

First we extracted data from wikilink provided by Coursera. We put the data in DataFrame to work in a better way. Later, we delete cells that is Not assigned in the column 'borough'. The next step was fix the problem of postcode and Neighbourhood. Also, we delete the neighborhoods will be the same as the borough. Finally we use *shape* command to know the row number of dataframe.

In [14]:
df.shape

(103, 2)